
*{
    font-family: 'Raleway' sans-serif;
}
#nav-bar{
    background-color: #009A2E;
    height: 80px;
    border-bottom: 5px solid #D9D800;
}
#logo{
    margin-left: 40px;
    margin-right: 60px;
}

#contanier-list a{
    color: #fff;
    font-size: 13px;
    font-family: 'Raleway' sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#search-bar{
    width: 260px;
    height: 36px;
    border-radius: 30px 0px 0px 30px;
    border: 0;  
}

#btn-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    width: 40px;
    height: 36px;
    border-radius: 0px 30px 30px 0px;
    border: 0;
    padding: 0;
    margin-right: 50px;
}

#btn-login{
    width: 126px;
    height: 39px;
    background-color: #1474A3;
    border-radius: 35px;
    color: #fff;
    font-family: 'Raleway' sans-serif;
    margin-right: 50px;
}
#btn-register{
    width: 126px;
    height: 39px;
    background-color: #D5D800;
    border-radius: 35px;
    color: #000000;
    font-family: 'Raleway' sans-serif;
    font-weight: 600;
    margin-right: 40px;
}

/* main*/

.container-main nav{
    width: 100%;

}
#nav-main{
    margin-left: 267px;
    font-size: 12px;
    font-family: 'Raleway' sans-serif;
    font-weight: 600;

}
#nav-main a{
    color: #000000;
    
}

.contanier-info-curso{
    width: 100%;
    height: 324px;
    background-color: #FCFCE5;
    display: flex;
    align-items: center;
    
    

}

.curso-info{
    width: 45%;
    height:324 ;
    margin-left: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#desc-curse{
    margin-left: 46px;
    margin-top: 35px;
    
}

#desc-curse p{
    
    font-size: 18px;
}

#midia-icon{
    margin-top: 1px;
}

#star{
    margin-top: 10px;
}

#card-teacher{
    width: 338.19px;
    height: 451.5px;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    left:65%;
    bottom: 250px;
    
    
}

#desc-teacher{
    font-size: 13px;
    text-align: justify;
    margin-left:7px;
  
}

#title-desc-teacher{
    font-size: 20px;
    margin-left: 7px;
}


.info-teacher{
    display: flex;
    border-bottom: 2px solid #0000004D;
    
}

#videoCurse{
    position: relative;
    bottom: 400px;
    left: 267px;
}

.contanier-desc-course{
    margin-left: 267px;
    width: 40%;
    position: relative;
    bottom:345px;
    margin-bottom: 10px;
    
}

.contanier-desc-course h3{
    font-size: 26px;
    color: #297FAD;
    margin-top: 40px;
    
}

.contanier-desc-course p{
    font-size: 18px;
    color: #000000;
    text-align: justify;
    margin-top: 25px;
    
}
#cont-list{
    width: 100%;
    height: 51px;
    background-color: #EBEBEB;
    border-radius: 20px;
    
}
.more-info-teacher{
    width: 100%;
    height: 599px;
    background-color: #D5D800;
    position: relative;
    bottom: 300px;
}


